.CartItem {
	margin: 1.5rem 0;
}

.CartItem h3,
p,
h2,
span {
	text-transform: capitalize;
	font-size: 2rem;
	text-align: center;
}

.CartItem span {
	background: black;
	color: #fff;
	padding: 5px;
	border-radius: 35%;
}

.SideCartProductItem,
.SideCartProductPrice {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.TrashIcon {
	background: transparent;
	border: transparent;
	font-size: 2rem;
	color: hsl(185, 81%, 29%);
	cursor: pointer;
	transition: all 0.3s linear;
	outline: 0;
}

.TrashIcon:hover {
	background: transparent;
	color: hsl(185, 81%, 29%);
	font-size: 2.5rem;
	transition: all 0.3s linear;
}

.Qty {
	color: ;
}

.QtyBtn {
	background: transparent;
	border: transparent;
	font-size: 2.5rem;
	color: rgb(41, 41, 41);
	cursor: pointer;
	transition: all 0.3s linear;
	outline: 0;
}

.QtyBtn:disabled {
	color: #ccc;
}
