.CartFooter {
	margin-top: 10rem;
	display: block;
}

.TotalDisplaySideCart {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.TotalTitle {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: capitalize;
}

.CheckoutDrawer {
	width: 100%;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #fff;
	background: rgb(41, 41, 41);
	padding: 30px 0;
	text-align: center;
	transition: all 0.3s linear;
	outline: 0;
}

.CheckoutDrawer:hover {
	width: 100%;
	background: hsl(185, 81%, 29%);
	padding: 30px 0;
	text-align: center;
}

.CheckoutDrawer button {
	background: rgb(41, 41, 41);
	color: #fff;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	border: none;
	margin: 0;
	padding: 0.5rem;
	margin: 0.4rem;
	text-align: center;
	cursor: pointer;
	outline: 0;
}
