.Footer {
	background: hsl(185, 81%, 29%);
	text-align: center;
	padding: 2rem 2rem;
}
.FooterLinks,
.FooterIcons {
	color: #fff;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
	flex-wrap: wrap;
}
.FooterLink {
	color: #fff;
	text-transform: capitalize;
	font-size: 1rem;
	margin-right: 1rem;
	letter-spacing: 0.1rem;
	transition: all 0.3s linear;
}
.FooterLink:hover {
	color: hsl(186, 90%, 16%);
}
.FooterIcon {
	font-size: 2rem;
	margin-right: 1rem;
	color: #fff;
	transition: all 0.3s linear;
}
.FooterIcon:hover {
	color: hsl(186, 90%, 16%);
}
.Copyright {
	text-transform: capitalize;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	color: #fff;
}

/* Fix colors of footer */
/* check styling for about  */
